@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400");

@import "tailwindcss";

@theme {
  --font-sans: "Roboto", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
